docs/n8n/AO_OS_Auth_Healthcheck_v2.13.3_n8n-cloud.json
{
  "name": "AO OS Auth Health Check - n8n Cloud v2.13.3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "3a4f6e9f-a16d-44b2-8f20-5c826f8a8d11",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.aosanctuary.com/v1/auth/login",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"staff@ao-os.local\",\n  \"password\": \"TestPassword123!\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "5ec8f681-f793-4f68-b7e1-2f7d2e0d2426",
      "name": "Auth Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        280
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "REPLACE_WITH_AUTOMATION_LOG_DB_ID",
          "mode": "id"
        },
        "title": "={{$json.accessToken ? 'AO OS auth health check - Success' : 'AO OS auth health check - Failed'}}",
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Workflow Name|rich_text",
              "textContent": "={{$json.accessToken ? 'AO OS auth health check - Success' : 'AO OS auth health check - Failed'}}"
            },
            {
              "key": "Status|select",
              "selectValue": "={{$json.accessToken ? 'Success' : 'Failed'}}"
            },
            {
              "key": "Timestamp|date",
              "date": "={{$now}}"
            }
          ]
        },
        "options": {}
      },
      "id": "af8459f9-6914-4230-84df-eecfd4e5c7ea",
      "name": "Log Result",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        700,
        280
      ],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_NOTION_CREDENTIAL_ID",
          "name": "REPLACE_WITH_NOTION_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Auth Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Login": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
