docs/n8n/AO_OS_Auth_Healthcheck_v2.13.3_n8n-cloud.json
{
  "name": "AO OS - Auth Healthcheck",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.aosanctuary.com/v1/auth/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "REPLACE-WITH-STAFF-EMAIL"
            },
            {
              "name": "password",
              "value": "REPLACE-WITH-STAFF-PASSWORD"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Auth Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "a1b2c3d4-cond-0001",
              "leftValue": "={{ $json.accessToken }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Check Token Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "REPLACE_WITH_AUTOMATION_LOG_DB_ID",
          "mode": "id"
        },
        "title": "=AO OS Auth Healthcheck — {{ $now.format('yyyy-MM-dd HH:mm') }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Workflow Name|rich_text",
              "textValue": "AO OS Auth Healthcheck"
            },
            {
              "key": "Status|select",
              "selectValue": "Success"
            },
            {
              "key": "Timestamp|date",
              "dateValue": "={{ $now.toISO() }}"
            },
            {
              "key": "Trigger|rich_text",
              "textValue": "Scheduled (30 min)"
            },
            {
              "key": "Raw Payload|rich_text",
              "textValue": "={{ JSON.stringify($json) }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Log Success",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [900, 200],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_NOTION_CREDENTIAL_ID",
          "name": "REPLACE_WITH_NOTION_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "REPLACE_WITH_AUTOMATION_LOG_DB_ID",
          "mode": "id"
        },
        "title": "=AO OS Auth Healthcheck — {{ $now.format('yyyy-MM-dd HH:mm') }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Workflow Name|rich_text",
              "textValue": "AO OS Auth Healthcheck"
            },
            {
              "key": "Status|select",
              "selectValue": "Failure"
            },
            {
              "key": "Timestamp|date",
              "dateValue": "={{ $now.toISO() }}"
            },
            {
              "key": "Trigger|rich_text",
              "textValue": "Scheduled (30 min)"
            },
            {
              "key": "Error Details|rich_text",
              "textValue": "={{ $json.error?.message || $json.message || 'Login failed: accessToken not returned' }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Log Failure",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [900, 400],
      "credentials": {
        "notionApi": {
          "id": "REPLACE_WITH_NOTION_CREDENTIAL_ID",
          "name": "REPLACE_WITH_NOTION_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Auth Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Login": {
      "main": [
        [
          {
            "node": "Check Token Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token Exists": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "n8nVersion": "2.13.3"
  },
  "tags": [
    {
      "createdAt": "2026-03-27T00:00:00.000Z",
      "updatedAt": "2026-03-27T00:00:00.000Z",
      "id": "ao-os-healthcheck",
      "name": "ao-os-healthcheck"
    }
  ]
}
